################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/LoopsApp/.vs/LoopsApp
/LoopsApp/LoopsApp/bin/Debug/net7.0
/LoopsApp/LoopsApp/obj
/LoopsApp/.vs/ProjectEvaluation
/Posl/.vs/Posl
/Posl/Posl/bin/Debug/net7.0
/Posl/Posl/obj
/FibonApp/.vs/FibonApp
/FibonApp/FibonApp/bin/Debug/net7.0
/FibonApp/FibonApp/obj
/Posl/.vs/ProjectEvaluation
/ArrayApp/.vs/ArrayApp
/ArrayApp/ArrayApp/bin/Debug/net7.0
/ArrayApp/ArrayApp/obj
/FibonApp/.vs/ProjectEvaluation
/ArrayApp/.vs/ProjectEvaluation
/ConsoleApp1/.vs/ConsoleApp1
/ConsoleApp1/ConsoleApp1/bin/Debug/net7.0
/ConsoleApp1/ConsoleApp1/obj
/FuncApp/.vs
/FuncApp/FuncApp/obj
/MatrixApp/.vs
/MatrixApp/MatrixApp/bin/Debug/net7.0
/MatrixApp/MatrixApp/obj
