################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/LoopsApp/.vs/LoopsApp
/LoopsApp/LoopsApp/bin/Debug/net7.0
/LoopsApp/LoopsApp/obj
/LoopsApp/.vs/ProjectEvaluation
/Posl/.vs/Posl
/Posl/Posl/bin/Debug/net7.0
/Posl/Posl/obj
/FibonApp/.vs/FibonApp
/FibonApp/FibonApp/bin/Debug/net7.0
/FibonApp/FibonApp/obj
/Posl/.vs/ProjectEvaluation
